*{
    box-sizing: border-box;
    transition: .5s;
}

body{
    background: radial-gradient(ellipse at center, rgb(255, 222, 194) 0%, rgb(255, 234, 114) 35%, #a0faff 100%);
}

header{
width: 100%;
text-align: center;
}

header ul li{
    display: inline-block;
    padding: 30px;
}

header ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(24, 0, 158);
}

span{
    font-size: 20px;
    color: rgb(0, 2, 114);
    padding: 10px;
}

section{
    text-align: center;
}

main img{
text-align: center;
width: 300px;
height: 300px;
border: none;
margin: 85px;
border: 2px solid black;
border-radius: 20px;
cursor: pointer;
filter: grayscale(100);
}

main img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

div{
    /* width: 100%; */
    text-align: center;
}

div ul li {
    padding: 5px;
    font-size: 20px;
}

.again{
    display: none;
    width:20%;
    height: 75px;
    font-size: 25px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 12%;
}

.chart label{
color: red;
}